<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>浏览</title>
    <style>
        ul {list-style: none}
        li {display: inline}
    </style>
</head>
<body>
<h1>ERROR</h1>
<!--    <table>-->
<!--        <tr>-->
<!--            <td>IP</td>-->
<!--            <td>时间</td>-->
<!--            <td>浏览器</td>-->
<!--            <td>城市</td>-->
<!--            <td>城市代码</td>-->
<!--        </tr>-->
<!--        {volist name = 'list' id='browse_info'}-->
<!--            <tr>-->
<!--                <td>{$browse_info.browse_ip}</td>-->
<!--                <td>{$browse_info.browse_time}</td>-->
<!--                <td>{$browse_info.browse_name}</td>-->
<!--                <td>{$browse_info.browse_city}</td>-->
<!--                <td>{$browse_info.browse_city_code}</td>-->
<!--            </tr>-->
<!--        {/volist}-->
<!--        <tr>-->
<!--            <td colspan="5">{$count|raw}</td>-->
<!--        </tr>-->



<!--    </table>-->
</body>
</html>