<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .foot{ position: fixed;left: 50%;top: 97%;}
        .icp{display: block;width: 220px;text-align: center;color: black;}
        a{text-decoration: none;color: inherit;}
        .icp1{color: #bbb;}
    </style>

</head>
<body>
    <div>
        <span>{$date}</span>
        <input type="hidden" value="{$url}">
    </div>
   <div class="foot">
       <span class="icp"><a href="https://beian.miit.gov.cn/" class="icp1" target="_blank">{$icp}</a></span>
   </div>
</body>
<script></script>
<script type="text/javascript">
    console.log('{$url}')
    console.log('{$state}')
</script>
</html>

